body {
  background-color: #000;
}

/*    TEXT    */
h1 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 50px;
  text-align: center;
  font-weight: lighter;
}

h2 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 30px;
  text-align: center;
  font-weight: lighter;
}


h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: lighter;
  margin-left: 20px;
  font-family: "Avantgarde", sans-serif;
  color: #fff;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: lighter;
  margin-left: 20px;
  font-family: "Avantgarde", sans-serif;
  color: rgb(171, 171, 171);
}

h5 {
  margin: 0;
  padding-top: 20px;
  font-size: 20px;
  font-weight: lighter;
  margin-left: 20px;
  font-family: "Avantgarde", sans-serif;
  color: rgb(129, 127, 127);
}

p {
  color: #fff;
  font-family: "Avantgarde", sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

ul li {
  font-family: "Avantgarde", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 20px;
  padding: 2px;
}

.cursive {
  font-family: "Snell Roundhand", cursive;
  font-weight: lighter;
  font-size: 55px;
}

.it {
  font-style: italic;
  color: rgb(171, 171, 171);
}

/*    TEXT    */

/*    INDEX NAV    */

#main-nav {
  background-color: #000;
  overflow: hidden;
}

#nav-cont {
  float: left;
  width: 100%;
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-nav ul li {
  font-size: 30 px;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  color: #fff;
}

#main-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/*    INDEX NAV    */

/*    OTHER NAV    */

#nav {
  width: 100%;
  height: 100px;
  background-color: #000;
  overflow: hidden;
}

#logo2-cont {
  float: left;
  height: 100px;
  width: 40%;
  position: relative;
  margin: 0px 20px 20px 5%;
}

#logo2 {
  height: 95%;
}

#other-nav {
  display: inline-block;
  text-align: right;
  width: 47%;
  position: absolute;
  margin: 10px 0px 0px 0px;
}

#other-nav ul {
  list-style-type: none;
  position: relative;
}

#other-nav ul li {
  font-size: 30 px;
  position: relative;
  display: inline-block;
  color: #fff;
}

#other-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#other-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/*    OTHER NAV    */

/*    INDEX LOGO    */

#logo-cont {
  text-align: center;
  width: 100%;
}

#logo {
  width: 35%;
}

/*    INDEX: ABOUT ME    */

#about-me {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid #fff;
}

#personalPhoto {
  display: inline-block;
  width: 25%;
  height: fit-content;
  margin: 20px 20px 20px 25px;
}

#personalPhoto img{
  width: 100%;
  margin-top: 30%;
  margin-bottom: 30%;
}

#am-songs {
  display: flex;
  width: 100%;
}

#songs {
  width: 90%;
  margin: 20% 20px 20% 20px;
}

#am-cont {
  width: 50%;
  padding: 10px;
  height: fit-content;
  margin: 20px 0 20px 0;
}


/*    INDEX: ABOUT ME    */

/*    DRAWING PAINTING    */

#drawing-painting, #travel{
  padding: 40px 10px 40px 10px;
  display: flex;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
  text-align: center;
}

#pimgs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#drawing-painting img {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

#drawing-painting h2 {
  width: 25%;
  float: left;
  padding-right: 20px;
  border-right: 3px solid #fff;
}

#h2 {
  width: 25%;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 3px solid #fff;
  display: inline-block;
  vertical-align: middle;
}

#travel img {
  width: 100%;
}

#timgs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.travel-photos {
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: bottom;
}

#travel p {
  width: 100%;
  display: inline-block;
}

#mk {
  margin-bottom: 0px;
}


/*    DRAWING PAINTING    */

/*    RESUME    */

#resume, #projects {
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid #fff;
}

#contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#contact-info ul li {
  float: left;
  position: relative;
  padding: 10px;
  right: 50%;
  display: block;
  color: #fff;
}

#contact-info ul li a {
  color: #fff;
  text-decoration: none;
}

#resume h2, #projects h2 {
  font-size: 37px;
  font-family: "Avantgarde", sans-serif;
  text-align: left;
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
  text-decoration-color: #fff;
}

#resume p {
  margin: 0;
  padding: 2px;
  margin-left: 20px;
  font-size: 20px;
  font-family: "Avantgarde", sans-serif;
}

.inline {
  display: flex;
  padding-top: 25px;
}

.timloc {
  text-align: right;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: auto;
}

.list {
  display: flex;
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
}

/*    RESUME    */

/*    PROJECTS    */

#connectFourSS {
  width: 70%;
}

#github {
  list-style-type: none;
  padding-top: 40px;
  text-align: center;
  color: rgb(129, 127, 127);
}

/*    PROJECTS    */