body {
  background-color: #000;
}

h1 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 30px;
}

h2 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 25px;
  text-align: center;
}


h3 {
  color: #fff;
}

h4 {
  color: #fff;
}

h5 {
  color: #fff;
}

p {
  color: #fff;
  font-family: "Avantgarde", sans-serif;
  font-size: 20px;
}

#main-nav {
  background-color: #000;
  overflow: hidden;
}

#nav-cont {
  float: left;
  width: 100%;
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-nav ul li {
  font-size: 30 px;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  color: #fff;
}

#main-nav ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

#other-nav {
  height: 100px;
  background-color: #000;
  overflow: hidden;
}
 
#other-nav #nav {
  float: left;
  width: 100%;
  position: relative;
}

#other-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 10%;
  float: left;
}

#logo2-cont {
  text-align: left;
  height: 100%;
}

#logo2 {
  height: 100%;
  float: left;
}

#logo-cont {
  text-align: center;
  width: 100%;
}

#logo {
  width: 35%;
}

#about-me {
  float: right;
  margin: 20px 20px 20px 20px;
  border: 3px solid #fff;
  text-align: left;
  vertical-align: middle;
}

#personalPhoto {
  width: 20%;
  float: left;
  vertical-align: middle;
  margin: 20px 20px 20px 20px;
}

ul li {
  color: #fff;
}

#resume {
  width: 75%;
  align-self: center;
  border-radius: 15px;
  background-color: purple;
}

#resume h1 {
  text-align: center;
}
