body {
  background-color: #000;
}

#projects-page {
  background-color: #000;
  width: 900px;
  margin: auto auto;
}

/*    TEXT    */
@font-face {
  font-family: sweetGetaway;
  src: url(/font/SweetGetawayDemoRegular-2XyK.ttf);
}


h1 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 3em;
  text-align: center;
  font-weight: lighter;
}

h2 {
  color: #fff;
  font-family: "Andalé Mono", monospace;
  font-size: 2em;
  text-align: center;
  font-weight: lighter;
}


h3 {
  margin: 0;
  padding: 0;
  font-size: 1.7em;
  font-weight: lighter;
  margin-left: 0.7em;
  font-family: "Avantgarde", sans-serif;
  color: #fff;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: lighter;
  margin-left: 0.7em;
  font-family: "Avantgarde", sans-serif;
  color: rgb(171, 171, 171);
}

h5 {
  margin: 0;
  padding-top: 0.7em;
  font-size: 1.2em;
  font-weight: lighter;
  margin-left: 1em;
  font-family: "Avantgarde", sans-serif;
  color: rgb(129, 127, 127);
}

p {
  color: #fff;
  font-family: "Avantgarde", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
}

ul li {
  font-family: "Avantgarde", sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 1.2em;
  padding: 0.1em;
}

.cursive {
  font-family: sweetGetaway;
  font-family: "Snell Roundhand", cursive;
  font-weight: lighter;
  font-size: 4em;
}

.it {
  font-style: italic;
  color: rgb(171, 171, 171);
}

/*    TEXT    */

/*    INDEX NAV    */

#main-nav {
  background-color: #000;
  overflow: hidden;
}

#nav-cont {
  float: left;
  width: 100%;
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-nav ul li {
  font-size: 2em;
  float: left;
  position: relative;
  right: 50%;
  display: block;
  color: #fff;
}

#main-nav ul li a {
  display: block;
  padding: 0.5em 1em;
  color: #fff;
  text-decoration: none;
}

#main-nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

/*    INDEX NAV    */

/*    INDEX LOGO    */

#logo-cont {
  text-align: center;
  width: 100%;
}

#logo {
  width: 35%;
}

/*    INDEX: ABOUT ME    */

#about-me {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid #fff;
}

#personalPhoto {
  display: inline-block;
  vertical-align: middle;
  width: 25%;
  height: fit-content;
  margin: 2em 2em 2em 2em;
}

#personalPhoto img {
  width: 100%;
  margin-top: 20%;
  margin-bottom: 20%;
}

#am-songs {
  display: flex;
  width: 100%;
}

#songs {
  width: 90%;
  margin: 5.7em 2em 2em 2em;
}

#am-cont {
  width: 50%;
  height: fit-content;
  margin: 0 0 2em 0;
}


/*    INDEX: ABOUT ME    */

/*    DRAWING PAINTING    */

#drawing-painting, #travel{
  padding: 1em 0 1em 0;
  display: flex;
  margin-top: 2em;
  margin-left: 5%;
  margin-right: 5%;
  height: fit-content;
  text-align: center;
}

#pimgs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

#drawing-painting img {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

#drawing-painting h2 {
  width: 25%;
  float: left;
  padding-right: 2em;
  border-right: 3px solid #fff;
}

#h2 {
  width: 25%;
  padding-left: 2em;
  padding-right: 2em;
  border-left: 3px solid #fff;
  display: inline-block;
  vertical-align: middle;
}

#travel img {
  width: 100%;
}

#timgs {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.travel-photos {
  width: 30%;
  padding-left: .2em;
  padding-right: .2em;
  display: inline-block;
  vertical-align: bottom;
}

#travel p {
  width: 100%;
  display: inline-block;
}

#mk {
  margin-bottom: 0;
}


/*    DRAWING PAINTING    */

/*    RESUME    */

#resume, #projects {
  margin-left: 5%;
  margin-right: 5%;
  border: 3px solid #fff;
}

#contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#contact-info ul li {
  float: left;
  position: relative;
  padding: 0.5em;
  right: 50%;
  display: block;
  color: #fff;
}

#contact-info ul li a {
  color: #fff;
  text-decoration: none;
}

#resume h2, #projects h2 {
  font-size: 2.5em;
  font-family: "Avantgarde", sans-serif;
  text-align: left;
  margin-top: 3em;
  margin-left: 0.5em;
  margin-bottom: 0;
  padding-bottom: 0;
  text-decoration: underline;
  text-decoration-color: #fff;
}

#resume p {
  margin: 0;
  padding: 0;
  margin-left: 2em;
  font-size: 1.5em;
  font-family: "Avantgarde", sans-serif;
}

.inline {
  display: flex;
  padding-top: 1.5em;
}

.timloc {
  text-align: right;
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: auto;
}

.list {
  display: flex;
  padding-top: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

/*    RESUME    */

/*    PROJECTS    */

#connectFourSS {
  width: 80%;
}

.github {
  list-style-type: none;
  padding-top: 1.5em;
  text-align: center;
  color: rgb(129, 127, 127);
}

/*    PROJECTS    */
